body {
    padding-top:50px;
    background-color:#FEFCFB;
    font-size:1.5em;
    font-family:font-family: embrya,sans-serif;
    font-weight:200;
    margin-bottom:30px;
}

html {
    position:relative;
    min-height:100%
}

#map-canvas {
	width:500px;
	height:400px;
	background-color: #CCC;
}


.navbar-nav{
	float: right;
}

.navbar-inverse {
    background-color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #2B3E85;
    font-size: 1.6em;
}

.navbar-inverse .navbar-brand {
    color: #2B3E85;
    font-size: 1.6em;
}

.fbook {
	padding-top:6px !important;
    margin-top: 0px;
    padding-right: 1px !important;

}

.twitter {
	padding-top:7px !important;
    margin-top: 0px;
    padding-right: 0px !important;
}

.navbar-nav >li > a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	background-color:transparent;
	color:green;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color:green;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
	background-color: orange;
	color:red;
}

@media screen and (max-width: 767px) {
.navbar-nav {
  float:left;
	text-align: center;
	margin-left: 45%;
}
}

.navbar-toggle {
    background-color:#000;
    margin-top:15px;
}

.nav .dropdown-toggle .caret { /*removes caret*/
}

.dropdown:hover .dropdown-menu{  /*Hover Dropwdown menu*/
    display: block;
 }

 #image {
     width: 100%;
 }

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 80px;
	background-color:#FFFFFF;
	border-top: 2px solid #CCC;
	text-align: center;
	font-weight: 200;
	width: 100%;
}

.carousel-control.left, .carousel-control.right {
	  background: none !important;
	  filter: progid: none !important;
	  outline: 0;
 }

.carousel .carousel-control {
	visibility: hidden;
}

.carousel:hover .carousel-control {
	visibility: visible;
}


.small-footer {
	text-align: center;
	font-size: 1em;
	font-weight: 200;
	width: 100%;
	background-color: #FFFFFF !important;
}

#email_validation, #name_validation {
    display:none;
}

label.required:after {
	content:'*';
	color:red;
}

span.error {
  background-color:#FFDFDF;
  color:red;
}

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.buildn {
  text-align: right;
  font-size:1em;
  color: rgb(192,192,192);

}
