:root {
        --ic-brand-primary-darkened-5: #293B7F;
--ic-brand-primary-darkened-10: #273878;
--ic-brand-primary-darkened-15: #253572;
--ic-brand-primary-lightened-5: #35478B;
--ic-brand-primary-lightened-10: #405191;
--ic-brand-primary-lightened-15: #4A5A97;
--ic-brand-button--primary-bgd-darkened-5: #293B7F;
--ic-brand-button--primary-bgd-darkened-15: #253572;
--ic-brand-button--secondary-bgd-darkened-5: #414141;
--ic-brand-button--secondary-bgd-darkened-15: #3A3A3A;
--ic-brand-font-color-dark-lightened-15: #606060;
--ic-brand-font-color-dark-lightened-28: #787878;
--ic-link-color-darkened-10: #0073E6;
--ic-link-color-lightened-10: #198BFF;
--ic-brand-primary: #2b3e85;
--ic-brand-font-color-dark: #444444;
--ic-link-color: #007fff;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #444444;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #2b3e85;
--ic-brand-global-nav-ic-icon-svg-fill: #edac1a;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #2b3e85;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #edac1a;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #2b3e85;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_118300000000000001/attachments/40904/uwec-squared_Artboard%208%20copy%207_85px.jpg');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: #991a37;
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_118300000000000001/attachments/472/2016_UWL_Fall_Student_Life_528.jpg');
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_118300000000000001/attachments/68080733/UW-logo-white.png');
--ic-brand-Login-Content-bgd-color: #005777;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }